@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(~/Fonts/MyriadPro-Regular.ttf);
}
body {
    padding-bottom: 20px;
}

.barra-navegacion {
    height: 90px;
}

.logo {
    width: 180px;
    height: 67px;
}

.body-content-access{
    margin-top: 30px;
}

